.bg{
    background-image: url("https://images.pexels.com/photos/631411/pexels-photo-631411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 600px;

}